h1  {
    font-size:300%;color:green;
    }
    
p#Concepto{
    color: red;
    }
        
p#Funcionamiento{
    color: blue;
    }

p#Cliente{
    color: DarkGreen;
    }

p#Servidor{
    color: orange;
    }

address{
    font-family:arial;
    }